<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="/stylesheet.css" rel="stylesheet" />
  <title></title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <h1 class="header__title">Acquisitions inc.</h1>
      <h1>WeCanCodeIT Review Repository</h1>
    </header>
    <div class="reviews">
      <div th:each="review: ${reviews}">
        <h3 class="reviews__title" th:text="${review.title}">Name</h3>
        <a th:text="${review.title}" th:href="|/reviews/${review.title}|">Review Name
        </a>
      </div>
    </div>
    <a class="back_to_categories_button" href="./">Back To categories</a>
    <footer class="footer">
      <small class="footer__copy"> &copy;2019 Reviews </small>
    </footer>
  </div>
</body>

</html>