<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="/stylesheet.css" rel="stylesheet" />
   <title>Document</title>
</head>
<body>


       <h1>WeCanCodeIT Review Repository</h1>
       <h2 th:each="review: ${reviews}">
               <a th:text= "${review.title}" th:href="|/reviews/${review.id}|">Review Title</a>
   </body>

</body>
</html>