<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/stylesheet.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <h1 class="header__title">Acquisitions inc.</h1>
        <h1>WeCanCodeIT Review Repository</h1>
        <h2 th:each="review: ${reviews}">
          <a th:text="${review.title}" th:href="|/reviews/${review.id}|"
            >Review Title</a
          >
        </h2>
        <a class="See__All__cats__button" href="/categories/">
          See All Categories</a
        >
      </header>
      <form class="review-form" action="/reviews/add" method="POST">
        <label class="review-form__field"
          >Title: <input type="text" name="title" placeholder="Title"
        /></label>
        <label class="review-form__field"
          >Id: <input type="number" name="id" placeholder="Review Id"
        /></label>
        <label class="review-form__field"
          >Category: <input type="text" name="category" placeholder="Category"
        /></label>
        <label class="review-form__field"
          >Content: <input type="text" name="content" placeholder="Content"
        /></label>
        <button type="submit">Submit</button>
      </form>
      <footer class="footer">
        <small class="footer__copy"> &copy;2019 Reviews </small>
      </footer>
    </div>
  </body>
</html>
