<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2 th:text="${Review.id}">ID</h2>
      <h3 th:text="${Review.title}">Title</h3>
      <p th:text="${Review.imageUrl}">ImageURL</p>
      <p th:text="${Review.category}">Category</p>
      <p th:text="${Review.content}">Content</p>
      <a href="./reviews.html">Back To reviews</a>
    </div>
  </body>
</html>
